@import './_reset.css';
@import './icomoon.scss';
@import './flickingSlider.scss';

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

body {
  font-family: $main-font;
  font-weight: 400;
  color: $black;
}


a {
  text-decoration: none !important;
  &:visited {
    color: unset;
  }
}
