$header-font: Open Sans, sans-serif;
$header-bg: rgba(0, 0, 0, 0.9);
$footer-bg: $header-bg;
$main-font: Montserrat, sans-serif;
$main-bg: rgb(238, 238, 238);

$transition: 200ms ease-in-out;
$transition_main: 200ms ease-in-out;
$transition-header: 400ms ease-in-out;

$white: #FFFFFF;
$black: #000000;


$black-900: #091321;
$black-800: #222B37;
$black-700: #535A64;
$black-600: #6B717A;
$black-500: #848990;
$black-400: #9DA1A6;
$black-300: #B5B8BC;
$black-200: #CED0D3;
$black-100: #E6E7E9;
$black-50: #F3F3F4;
$black-0: #FFFFFF;

$blue-900: #005AE4;
$blue-800: #0064FF;
$blue-700: #3383FF;
$blue-600: #599AFF;
$blue-500: #80B2FF;
$blue-400: #99C1FF;
$blue-300: #B2D1FF;
$blue-200: #CCE0FF;
$blue-100: #E5EFFF;
$blue-50: #F2F7FF;

$yellow-main: #ffec00;
$yellow-secondary: #f6df00;
$yellow-active: #ecd900;
//$yellow-secondary: #edbf21;
//$yellow-active: #aa9f07;


