

$header-font: Open Sans, sans-serif;
$main-font: Montserrat, sans-serif;

$transition: 200ms ease-in-out;
$transition-header: 600ms ease-in-out;

$yellow-main: #ffec00;
$yellow-active: #aa9f07;
$white: #FFFFFF;
$black: #000000;
