$header-font: Open Sans, sans-serif;
$header-bg: rgba(0, 0, 0, 0.9);
$main-font: Montserrat, sans-serif;

$transition: 200ms ease-in-out;
$transition_main: 600ms ease-in-out;
$transition-header: 600ms ease-in-out;

$yellow-main: #ffec00;
$yellow-secondary: #edbf21;
$yellow-active: #aa9f07;
$white: #FFFFFF;
$black: #000000;
